@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {

  /* Primary Colours */

  --clr-marine-blue: hsl(213, 96%, 18%);
  --clr-marine-blue-hover: rgba(2, 41, 90, .85);
  --clr-pruplish-blue: hsl(243, 100%, 62%);
  --clr-pastel-blue: hsl(228, 100%, 84%);
  --clr-light-blue: hsl(206, 94%, 87%);
  --clr-strawberry-blue: hsl(354, 84%, 57%);

  /* Neutral colours */

  --clr-cool-gray: hsl(231, 11%, 63%);
  --clr-light-gray: hsl(229, 24%, 87%);
  --clr-mangolia: hsl(217, 100%, 97%);
  --clr-alabaster: hsl(231, 100%, 99%);
  --clr-white: hsl(0, 0%, 100%);

  /* Font size */

  --fs-paragraph: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--clr-mangolia);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.multistep-form {
  font-family: "Ubuntu";
  background-color: var(--clr-white);
  /* width: min(1000px, 100%); */
  padding: 16px;
  border-radius: 16px;
  display: flex;
}

.multistep-form__sidebar {
  width: 300px;
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.multistep-form__sidebar-img {
  position: absolute;
}

.steps {
  padding: 40px;
  color: var(--clr-white);
  font-weight: 700;
  display: grid;
  gap: 32px;
  font-size: calc(var(--fs-paragraph) - 2px);
}

.step {
  display: flex;
  gap: 16px;
  align-items: center;

}

.step-icon {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: grid;
  place-content: center;
  outline: 1px solid var(--clr-white);
}

.active-icon {
  color: var(--clr-marine-blue);
  background-color: var(--clr-light-blue);
  outline: none;
}

.step-info {
  display: grid;
  gap: 3px;
}

.step-number {
  color: var(--clr-cool-gray);
  font-weight: 400;
}

.step-name {
  letter-spacing: 1px;
}

.multistep-form__main {
  margin: 20px 90px;
  display: flex;
  flex-direction: column;
  min-width: 500px;
}

.multistep-form__main h1 {
  /* font-size: 2.25rem; */
  color: var(--clr-marine-blue);
  margin-bottom: 0;
}

.multistep-form__main p {
  color: var(--clr-cool-gray);
  margin-block: .7em;
}

form {
  margin-top: 32px;
}

form.step-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
  font-size: 14px;
  position: relative;
}

.input-box {
  display: grid;
  gap: 5px;
}

.input-box label {
  color: var(--clr-marine-blue);
}

.input-box input {
  border-radius: 5px;
  border: none;
  border: 1px solid var(--clr-light-gray);
  padding: 16px;
  color: var(--clr-marine-blue);
  font-weight: 700;
}

.label-container {
  display: flex;
  justify-content: space-between;
}

.input-box input:hover {
  outline: 1px solid var(--clr-marine-blue);
}

.input-box input::placeholder {
  font-weight: 700;
  color: var(--clr-cool-gray)
}

.btn-container {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.btn {
  width: max-content;
  color: var(--clr-white);
  padding: 14px 24px;
  border-radius: 8px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: auto;
  border: none;
  outline: none;
  cursor: pointer;
}

.next-step-btn {
  background-color: var(--clr-marine-blue);
}

.confirm-btn {
  background-color: var(--clr-pruplish-blue);
}

.back-btn {
  color: var(--clr-cool-gray);
  background-color: transparent;
  font-weight: 700;
  padding-inline: 0;
}

.next-step-btn:hover {
  background-color: var(--clr-marine-blue-hover);
}

.back-btn:hover {
  color: var(--clr-marine-blue);
}

.error-text {
  color: var(--clr-strawberry-blue);
  font-weight: 700;
}

.error-input {
  outline: 1px solid var(--clr-strawberry-blue);
}

.radio-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}


.radio-input-box {
  /* flex-grow: 1; */
  padding: 16px;
  border: 1px solid var(--clr-light-gray);
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.radio-input-box:has(input:checked) {
  background-color: var(--clr-alabaster);
  border: 1px solid var(--clr-marine-blue);
}

.radio-input-box input {
  position: absolute;
  opacity: 0;
  inset: 0;
}

.radio-input-box:hover {
  border: 1px solid var(--clr-marine-blue);
}

.radio-box-name {
  color: var(--clr-marine-blue);
  font-weight: 500;
  margin-bottom: 4px;
}

.radio-box-detail {
  color: var(--clr-cool-gray);
  font-size: 14px;
}

.offer {
  color: var(--clr-marine-blue);
  font-size: 14px;
  margin-top: 4px;
}

.annual-plan-container {
  display: flex;
  margin-top: 16px;
  justify-content: center;
  gap: 16px;
  padding-block: 16px;
  background-color: var(--clr-alabaster);
  border-radius: 10px;
}

.monthly,
.yearly {
  font-weight: 500;
  color: var(--clr-cool-gray);
}

.checked {
  color: var(--clr-marine-blue);
}

.toggle {
  position: relative;
  background-color: var(--clr-marine-blue);
  width: 32px;
  height: 12px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding: 4px;
  cursor: pointer;
}

.toggle input {
  position: absolute;
  inset: 0;
  visibility: hidden;
}

.circle {
  height: 100%;
  aspect-ratio: 1;
  background-color: var(--clr-white);
  border-radius: 50%;
  transition: 250ms;
}

/* .toggle:has(input:checked) .circle {
  margin-left: 20px;
} */

.checkbox-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.checkbox-input-box {
  position: relative;
  border: 1px solid var(--clr-light-gray);
  border-radius: 10px;
  padding: 24px;
  display: flex;
  align-items: center;
  gap: 32px
}

.checkbox-input-box input {
  position: absolute;
  inset: 0;
  visibility: hidden;
}

.checkbox-input-box img {
  padding: 2px;
  border-radius: 3px;
  outline: 1px solid var(--clr-light-gray);
  background-color: var(--clr-white);
  transition: 250ms;
}

.checkbox-input-box:has(input:checked) {
  background-color: var(--clr-alabaster);
}

.checkbox-input-box:has(input:checked) img {
  background-color: var(--clr-pruplish-blue);
  outline: none;
}

.checkbox-name {
  color: var(--clr-marine-blue);
  font-weight: 700;
  margin-bottom: 5px;
}

.checkbox-detail {
  color: var(--clr-cool-gray);
}

.checkbox-price {
  margin-left: auto;
  color: var(--clr-pruplish-blue);
  font-weight: 500;
}

.summary-container {
  background-color: var(--clr-alabaster);
  padding: 32px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;
}

.summary-plan-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summary-plan-name {
  color: var(--clr-marine-blue);
  font-weight: 500;
}

.change-btn {
  padding: 0;
  background-color: transparent;
  text-decoration: underline;
  color: var(--clr-cool-gray);
  font-size: 12px;
  text-decoration-thickness: 1.5px;
}

.summary-plan-price {
  color: var(--clr-marine-blue);
  font-weight: 700;
}

.addon-container {
  border-top: 1px solid var(--clr-light-gray);
  padding-top: 32px;
  color: var(--clr-cool-gray);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.addon {
  display: flex;
  justify-content: space-between;
}

.addon-price {
  color: var(--clr-marine-blue);
}

.summary-total-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}

.summary-total-text {
  color: var(--clr-cool-gray);
}

.summary-total {
  font-size: 24px;
  color: var(--clr-pruplish-blue);
  font-weight: 700;
}

.confirmation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.confirmation-container img {
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
  max-width: 500px;
  line-height: 26px;
  font-size: 18px;
}


/* Mobile */

.multistep-form__sidebar-img-mobile {
  display: none;
}

@media screen and (max-width: 1050px) {
  body {
    display: block;
  }

  .multistep-form {
    padding: 0;
    background-color: transparent;
  }

  .multistep-form {
    flex-direction: column;
  }

  .multistep-form__sidebar {
    width: 100%;
    height: 200px;
  }

  .multistep-form__sidebar-img-mobile {
    display: inline-block;
    object-fit: cover;
  }

  .multistep-form__sidebar-img {
    display: none;
    position: static;
  }

  .steps {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .step-info {
    display: none;
  }

  .step-icon {
    width: 40px;
    height: 40px;
  }

  .multistep-form__main {
    margin: 0;
    margin-top: -85px;
    margin-inline: 20px;
    padding: 24px 32px 32px 32px;
    min-width: fit-content;
    z-index: 2;
    background-color: var(--clr-white);
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  }

  .multistep-form__main p {
    font-size: 22px;
    line-height: 32px;
  }

  .btn-container {
    position: fixed;
    inset: auto 0 0 0;
    padding: 20px;
    background-color: var(--clr-white);
    justify-content: start;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  }

  .btn {
    border-radius: 4px;
  }

  .next-step-btn {
    margin-left: auto;
  }

  * {
    font-size: 20px;
  }

  .radio-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .radio-input-box {
    flex-direction: row;
    padding: 20px;
    gap: 16px;
  }

  .radio-input-box img {
    width: 60px;
    height: 60px;
  }

  .radio-box-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

  .radio-box-info * {
    margin: 0;
  }

  .radio-box-detail {
    font-size: 20px;
  }

  .confirmation-container {
    padding-block: 75px;
  }
}